p{

   color:red;
   text-decoration: underline;
   font-size:12px;
   background:black;
}
h1{
  font-size:50px;
  color:red;
}

h2{
  color:green;
}

div{
  margin:auto;
  background: blue;
  width:500px;
}

#primer_p{
 color:white;
}

